{% extends 'base.html.twig' %}

{% block title %}Request index{% endblock %}

{% block body %}
    <h1>Request index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Date</th>
                <th>Status</th>
                <th>Code_mail</th>
                <th>UUID</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.lastname }}</td>
                <td>{{ request.firstname }}</td>
                <td>{{ request.email }}</td>
                <td>{{ request.tel }}</td>
                <td>{{ request.date ? request.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.codeMail }}</td>
                <td>{{ request.UUID }}</td>
                <td>
                    <a href="{{ path('app_request_show', {'id': request.id}) }}">show</a>
                    <a href="{{ path('app_request_edit', {'id': request.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_request_new') }}">Create new</a>
{% endblock %}
